.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.ModalHead {
    display: flex;
    justify-content: space-between;
}

.ModalHead span {
    align-self: center;
    color: grey;
    font-weight: bold;
    cursor: pointer;
}

.ModalBody {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 0 -16px;

}

.ModalBody p {
    padding: 16px 16px 0;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
